nz-layout {
  background: url("../../../../assets/img/head-blue-bg.png") no-repeat top;
  height: 100%;
  nz-header {
    background-color: transparent;
    color: #fff;
    font-weight: 700;
  }
  nz-content {
  }

  nz-footer {
    background-color: transparent;
  }

}
:host {
  width: 100%;
  min-height: 100%;
  display: flex;
}
