<nz-card nzTitle="Transfer">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input destination card!">
        <nz-input-group nzPrefixIcon="idcard">
          <input type="text" nz-input formControlName="userName" placeholder="Username"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your credit card!">
        <nz-input-group nzPrefixIcon="credit-card">
          <input type="text" nz-input formControlName="creditCard" placeholder="Credir Card"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Transfer</button>
  </form>
</nz-card>
